@import "tailwindcss";

/* Ẩn scrollbar nhưng vẫn cho phép cuộn */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* cho IE và Edge */
  scrollbar-width: none;
  /* cho Firefox */
}